@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background: #fff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

*:focus {
  outline: none;
}

.title {
  font-family: 'Montez', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0 3rem;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.header li {
  position: relative;
  list-style: none;
  margin: 0 1rem;
}

.btn {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  width: auto;
}

.btn::before {
  position: absolute;
  content: '';
  bottom: -25%;
  left: 50%;
  width: 75%;
  height: 10px;
  z-index: -5;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn.active::before, .btn:hover::before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #f6a8c9;
}

.btn:hover ~ .list {
  visibility: visible;
}

.admin {
  position: absolute;
  top: -1rem;
  left: 1rem;
  padding: 2rem 1.5rem 1rem;
  background: #900f45;
  color: #fff;
  font-weight: bold;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.admin:hover {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.loupe {
  position: relative;
  height: .6rem;
  width: .6rem;
  cursor: pointer;
  margin: 0 1rem;
  -webkit-transform: translate(0, -0.25rem) scale(2);
          transform: translate(0, -0.25rem) scale(2);
  -webkit-transition: background 400ms, color 400ms;
  transition: background 400ms, color 400ms;
}

.loupe .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.loupe:hover {
  color: #900f45;
}

.list {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  visibility: hidden;
  background: #fff;
  padding: .5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
}

.list .list-item {
  margin: .1rem 0;
  padding: .2rem .4rem;
  border-radius: 5px;
  -webkit-transition: background 400ms, color 400ms;
  transition: background 400ms, color 400ms;
  color: #900f45;
  font-weight: bold;
}

.list .list-item:hover {
  background: rgba(0, 0, 0, 0.1);
  color: black !important;
}

.list .list-item.active {
  color: #900f45;
}

.list:hover {
  visibility: visible;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

form .row input {
  border-bottom: 2px solid black;
  margin: .5rem 0;
}

form [type="submit"] {
  border: 2px solid black;
  padding: .5rem 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 0;
  font-size: 12px;
  margin: auto;
}

footer a:hover {
  text-decoration: underline;
}

footer .legal a {
  margin: 0 1rem;
}

.alert {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: left;
  background: #fff;
  padding: 1rem 2rem;
  border-left: 2px solid #900f45;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  font-weight: bold;
}

.alert-error {
  color: #900f45;
}

.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ariane {
  padding: 1rem;
}

.ariane span {
  opacity: .7;
  cursor: default;
}

.social {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.social i {
  margin: 20px 0;
}

.edit {
  position: relative;
  width: 350px;
  height: 200px;
  padding: 20px;
  margin: 4rem auto 2rem auto;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
  -webkit-box-shadow: inset -3px -3px 7px #ddd, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
          box-shadow: inset -3px -3px 7px #ddd, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

.edit::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  height: 200px;
  background-color: transparent;
  border-radius: 25px;
  -webkit-box-shadow: -3px -3px 7px #ddd, 3px 3px 5px rgba(94, 104, 121, 0.712);
          box-shadow: -3px -3px 7px #ddd, 3px 3px 5px rgba(94, 104, 121, 0.712);
}

.edit .username {
  font-weight: bold;
  margin: 20px 0;
}

.edit .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 40px;
}

.edit .stats i {
  margin: 0 .5rem;
}

.edit .stats .message, .edit .stats .love {
  margin: 0 1.5rem;
}

.edit .rank {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.FAQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FAQ article {
  width: 500px;
  height: 75px;
  padding: 1rem 2rem;
  margin: .5rem 0;
  border-radius: 10px;
  border: 1px solid #aaa;
  overflow: hidden;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.FAQ article.active {
  height: auto;
  background: #fff;
}

.FAQ article.active #open {
  opacity: 0;
  z-index: -50;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.FAQ article.active #close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.FAQ article div {
  width: 100%;
  height: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FAQ article #open {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.FAQ article #close {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.FAQ h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.FAQ p {
  margin-top: 1rem;
  width: 90%;
  font-size: 1.2em;
  font-weight: 700;
}

.FAQ button {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selector .yBox {
  position: relative;
  width: 330px;
  height: 420px;
  background: #111;
  margin: 0 20px;
}

.selector legend {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: #fff;
  padding: 1rem 0;
  width: calc(100% - 100px);
  text-align: center;
}

.selector .entrée {
  background: url("https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fcuisine.2Frecettes-de-cuisine.2F45-recettes-entrees-froides-diner-ete-51702.2F15022868-1-fre-FR.2F45-recettes-d-entrees-froides-pour-vos-diners-d-ete.2Ejpg/850x478/quality/90/crop-from/center/45-recettes-d-entrees-froides-pour-vos-diners-d-ete.jpeg") no-repeat center center/cover;
}

.selector .plat {
  background: url("https://cdn-elle.ladmedia.fr/var/plain_site/storage/images/elle-a-table/les-dossiers-de-la-redaction/news-de-la-redaction/ces-plats-sont-plus-rapides-a-preparer-qu-a-faire-livrer-3679031/86933159-2-fre-FR/Ces-plats-sont-plus-rapides-a-preparer-qu-a-faire-livrer.jpg") no-repeat center center/cover;
}

.selector .dessert {
  background: url("https://1k9ch93e3xh2t4pa12vvmx1t-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Easy-No-Bake-Chestnut-Trifles_2.jpg") no-repeat center center/cover;
}

@media (min-width: 1000px) {
  body {
    padding: 0 10vw;
  }
}
/*# sourceMappingURL=style.css.map */