@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$contrast: #900f45;
$base: #fff;

body {
    background: $base;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased; 
    overflow-y: scroll;
}

*:focus {
    outline: none;
}

.title {
    font-family: 'Montez', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0 3rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;

    &.sticky {
        position: sticky;
        top: 1rem;
    }
    li {
        position: relative;
        list-style: none;
        margin: 0 1rem;
    }
}
.btn {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    width: auto;

    &::before {
        position: absolute;
        content: '';
        bottom: -25%;
        left: 50%;
        width: 75%;
        height: 10px;
        z-index: -5;
        transform: translate(-100%, -50%);
        transition: all 400ms ease;
        user-select: none;
    }

    &.active::before, &:hover::before {
        transform: translate(-50%, -50%);  
        background: lighten($contrast, 50%);
    }
    &:hover {
        ~.list {
            visibility: visible;
        }
    }
}
.admin {
    position: absolute;
    top: -1rem;
    left: 1rem;
    padding: 2rem 1.5rem 1rem;
    background: $contrast;
    color: $base;
    font-weight: bold;
    transition: transform 400ms;
    transform-origin: top left;
    &:hover {
        transform: translateY(1rem);
    }
}
.loupe {
    position: relative;
    height: .6rem;
    width: .6rem;
    cursor: pointer;
    margin: 0 1rem;
    transform: translate(0, -.25rem) scale(2);
    transition: background 400ms, color 400ms;

    .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.5);
    }
    &:hover {
        color: $contrast;
    }
}

.list {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    visibility: hidden;
    background: #fff;
    padding: .5rem;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    white-space: nowrap;

    .list-item {
        margin: .1rem 0;
        padding: .2rem .4rem;
        border-radius: 5px;
        transition: background 400ms, color 400ms;
        color: $contrast;
        font-weight: bold;

        &:hover {
            background: rgba(black, .1);
            color: black !important;
        }
        &.active {
            color: $contrast
        }
    }
    &:hover {
        visibility: visible;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        input {
            border-bottom: 2px solid black;
            margin: .5rem 0;
        }
    }
    [type="submit"] {
        border: 2px solid black;
        padding: .5rem 1rem;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
    font-size: 12px;
    margin: auto;
    a:hover {
        text-decoration: underline;
    }
    .legal a {
        margin: 0 1rem;
    }
}

.alert {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: left;
    background: #fff;
    padding: 1rem 2rem;
    border-left: 2px solid $contrast;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 400ms;
    font-weight: bold;
}
.alert-error {
    color: $contrast;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.ariane {
    padding: 1rem;
    span {
        opacity: .7;
        cursor: default;
    }
}
.social {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    i {
        margin: 20px 0;
    }
}

.edit {
    position: relative;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin: 4rem auto 2rem auto;
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
    box-shadow: inset -3px -3px 7px #ddd, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 200px;
        background-color: transparent;
        border-radius: 25px;
	    box-shadow: -3px -3px 7px #ddd, 3px 3px 5px rgba(94, 104, 121, 0.712);
    }    
    .username {
        font-weight: bold;
        margin: 20px 0;
    }
    .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 0 40px;
        i {
            margin: 0 .5rem;
        }
        .message, .love {
            margin: 0 1.5rem; 
        }
    }
    .rank {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }
}

.FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    article {
        width: 500px;
        height: 75px;
        padding: 1rem 2rem;
        margin: .5rem 0;
        border-radius: 10px;
        border: 1px solid #aaa;
        overflow: hidden;
        transition: 200ms;

        &.active {
            height: auto;
            background: #fff;
            #open {
                opacity: 0;
                z-index: -50;
                transform: rotate(180deg);
            }
            #close {
                display: flex;
                transform: rotate(0);
            }
        }

        div {
            width: 100%;
            height: 75px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #open {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            transition: 500ms;
        }
        #close {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            transform: rotate(180deg);
            transition: 500ms;
        }
    }
    h2 {
        font-weight: 500;
        font-size: 1.4rem;
    }
    p {
        margin-top: 1rem;
        width: 90%;
        font-size: 1.2em;
        font-weight: 700;
    }
    button {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
    }
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .yBox {
        position: relative;
        width: 330px;
        height: 420px;
        background: #111;
        margin: 0 20px;
    }
    legend {
        position: absolute;
        bottom: 50px;
        left: 50px;
        background: #fff;
        padding: 1rem 0;
        width: calc(100% - 100px);
        text-align: center;
    }
    .entrée {
        background: url('https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fcuisine.2Frecettes-de-cuisine.2F45-recettes-entrees-froides-diner-ete-51702.2F15022868-1-fre-FR.2F45-recettes-d-entrees-froides-pour-vos-diners-d-ete.2Ejpg/850x478/quality/90/crop-from/center/45-recettes-d-entrees-froides-pour-vos-diners-d-ete.jpeg') no-repeat center center / cover; 
 
    }
    .plat {
        background: url('https://cdn-elle.ladmedia.fr/var/plain_site/storage/images/elle-a-table/les-dossiers-de-la-redaction/news-de-la-redaction/ces-plats-sont-plus-rapides-a-preparer-qu-a-faire-livrer-3679031/86933159-2-fre-FR/Ces-plats-sont-plus-rapides-a-preparer-qu-a-faire-livrer.jpg') no-repeat center center / cover; 
    }
    .dessert {
        background: url('https://1k9ch93e3xh2t4pa12vvmx1t-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Easy-No-Bake-Chestnut-Trifles_2.jpg') no-repeat center center / cover; 
    }
}






@media (min-width: 1000px) {
    body {
        padding: 0 10vw;
    }
}